<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_bcd15497dd9b4409ba49e6f9ac065bc1 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_bcd15497dd9b4409ba49e6f9ac065bc1" ></div>
        
</body>
<script>    
    
            var map_bcd15497dd9b4409ba49e6f9ac065bc1 = L.map(
                "map_bcd15497dd9b4409ba49e6f9ac065bc1",
                {
                    center: [34.683364, 135.498966],
                    crs: L.CRS.EPSG3857,
                    zoom: 10,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_431fea37270e4b39a90be8588930fd89 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_bcd15497dd9b4409ba49e6f9ac065bc1);
        
    
            var marker_88522d5c43ca449dba6f6125ef6e52b1 = L.marker(
                [35.664004, 139.765712],
                {}
            ).addTo(map_bcd15497dd9b4409ba49e6f9ac065bc1);
        
    
            marker_88522d5c43ca449dba6f6125ef6e52b1.bindTooltip(
                `<div>
                     株式会社 朝日新聞社<br/>〒104-8011 東京都中央区築地5-3-2
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_057df3e1bc204bd8b5e96cbedcec0e85 = L.marker(
                [35.671581, 139.719124],
                {}
            ).addTo(map_bcd15497dd9b4409ba49e6f9ac065bc1);
        
    
            marker_057df3e1bc204bd8b5e96cbedcec0e85.bindTooltip(
                `<div>
                     伊藤忠商事 株式会社<br/>〒107-8077 東京都港区北青山2丁目5番1号
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_a840b639895045e2a8b0fdf36cff1fef = L.marker(
                [34.683364000000005, 135.498966],
                {}
            ).addTo(map_bcd15497dd9b4409ba49e6f9ac065bc1);
        
    
            marker_a840b639895045e2a8b0fdf36cff1fef.bindTooltip(
                `<div>
                     株式会社 コムフォート<br/>〒541-0053 大阪府大阪市中央区本町４丁目４-２５ 本町オルゴビル
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_c7988eb01acb45ea96dd318dbef86cfe = L.marker(
                [35.665444, 139.738299],
                {}
            ).addTo(map_bcd15497dd9b4409ba49e6f9ac065bc1);
        
    
            marker_c7988eb01acb45ea96dd318dbef86cfe.bindTooltip(
                `<div>
                     双日 株式会社<br/>〒100-8691 東京都千代田区内幸町2-1-1
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_d2247c257b414efdaf8685c6807c49a8 = L.marker(
                [34.736045000000004, 135.59023200000001],
                {}
            ).addTo(map_bcd15497dd9b4409ba49e6f9ac065bc1);
        
    
            marker_d2247c257b414efdaf8685c6807c49a8.bindTooltip(
                `<div>
                     タイガー魔法瓶株式会社<br/> 〒571-8571 大阪府門真市速見町3番1号
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_e1bffe705f7b4c80a92713a66182fcaa = L.marker(
                [34.689547999999995, 135.50887],
                {}
            ).addTo(map_bcd15497dd9b4409ba49e6f9ac065bc1);
        
    
            marker_e1bffe705f7b4c80a92713a66182fcaa.bindTooltip(
                `<div>
                     日本経済新聞社<br/>〒541-8515 大阪府大阪市中央区高麗橋１丁目４-２
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_f8b40ab60c1c4bb98173a41c4f297d9d = L.marker(
                [36.645259, 138.199251],
                {}
            ).addTo(map_bcd15497dd9b4409ba49e6f9ac065bc1);
        
    
            marker_f8b40ab60c1c4bb98173a41c4f297d9d.bindTooltip(
                `<div>
                     富士ゼロックス株式会社<br/>〒107-0052 東京都港区赤坂九丁目7番3号
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_01e4121fae3c428899ac7eb34e2979c3 = L.marker(
                [35.730148, 139.713176],
                {}
            ).addTo(map_bcd15497dd9b4409ba49e6f9ac065bc1);
        
    
            marker_01e4121fae3c428899ac7eb34e2979c3.bindTooltip(
                `<div>
                     株式会社みずほ銀行<br/>〒100?8176 東京都千代田区大手町1-5-5（大手町タワー）
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_6cb21ce0756144918c6d3ca3b47dc81c = L.marker(
                [34.700126000000004, 135.50651399999998],
                {}
            ).addTo(map_bcd15497dd9b4409ba49e6f9ac065bc1);
        
    
            marker_6cb21ce0756144918c6d3ca3b47dc81c.bindTooltip(
                `<div>
                     読売新聞大阪本社 <br/>〒530-8551大阪府大阪市北区野崎町5-9
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_e4e2fd1037ed4cd0850986f394f50d6f = L.marker(
                [35.67313, 139.73650700000002],
                {}
            ).addTo(map_bcd15497dd9b4409ba49e6f9ac065bc1);
        
    
            marker_e4e2fd1037ed4cd0850986f394f50d6f.bindTooltip(
                `<div>
                     株式会社 博報堂DYメディアパートナーズ <br/>〒107-6321　東京都港区赤坂5-3-1　赤坂Ｂｉｚタワー
                 </div>`,
                {"sticky": true}
            );
        
    
            var tile_layer_bf4ec5a27fa9408282b6b33383dbe98f = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_bcd15497dd9b4409ba49e6f9ac065bc1);
        
    
            var tile_layer_b35cf32e37c94da0af69eb75204e1236 = L.tileLayer(
                "https://stamen-tiles-{s}.a.ssl.fastly.net/terrain/{z}/{x}/{y}.jpg",
                {"attribution": "Map tiles by \u003ca href=\"http://stamen.com\"\u003eStamen Design\u003c/a\u003e, under \u003ca href=\"http://creativecommons.org/licenses/by/3.0\"\u003eCC BY 3.0\u003c/a\u003e. Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://creativecommons.org/licenses/by-sa/3.0\"\u003eCC BY SA\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_bcd15497dd9b4409ba49e6f9ac065bc1);
        
    
            var tile_layer_a9eb7df5761248ebb2f4751693d3b6e3 = L.tileLayer(
                "https://stamen-tiles-{s}.a.ssl.fastly.net/toner/{z}/{x}/{y}.png",
                {"attribution": "Map tiles by \u003ca href=\"http://stamen.com\"\u003eStamen Design\u003c/a\u003e, under \u003ca href=\"http://creativecommons.org/licenses/by/3.0\"\u003eCC BY 3.0\u003c/a\u003e. Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_bcd15497dd9b4409ba49e6f9ac065bc1);
        
    
            var layer_control_b386a2a763ff4bc6bd446acdb1849901 = {
                base_layers : {
                    "openstreetmap" : tile_layer_bf4ec5a27fa9408282b6b33383dbe98f,
                    "stamenterrain" : tile_layer_b35cf32e37c94da0af69eb75204e1236,
                    "stamentoner" : tile_layer_a9eb7df5761248ebb2f4751693d3b6e3,
                },
                overlays :  {
                },
            };
            L.control.layers(
                layer_control_b386a2a763ff4bc6bd446acdb1849901.base_layers,
                layer_control_b386a2a763ff4bc6bd446acdb1849901.overlays,
                {"autoZIndex": true, "collapsed": true, "position": "topright"}
            ).addTo(map_bcd15497dd9b4409ba49e6f9ac065bc1);
            tile_layer_b35cf32e37c94da0af69eb75204e1236.remove();
            tile_layer_a9eb7df5761248ebb2f4751693d3b6e3.remove();
        
</script>