{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}



    <div class="row">
        <div class="col-md-4">
            <a href="https://www.homepage-tukurikata.com/">
                <img src=https://dol.ismcdn.jp/mwimgs/c/8/670m/img_c8dad835c4b9134b067cc8b8efcab22f143142.jpg
                     alt="ホームページの作り方">
            </a>
        </div>
        <div class="col-md-4">
            【内容2】
        </div>
        <div class="col-md-4">
            【内容3】
        </div>
    </div>






{% endblock content %}