<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_5dee5c5a84cb4363a5043d4faa447274 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_5dee5c5a84cb4363a5043d4faa447274" ></div>
        
</body>
<script>    
    
            var map_5dee5c5a84cb4363a5043d4faa447274 = L.map(
                "map_5dee5c5a84cb4363a5043d4faa447274",
                {
                    center: [34.6594, 135.4996],
                    crs: L.CRS.EPSG3857,
                    zoom: 13,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_985f1e6d08c2465297088bcc51378d1e = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_5dee5c5a84cb4363a5043d4faa447274);
        
    
            var marker_bd44a1e934944df985baf6544abe4f54 = L.marker(
                [34.661742, 135.548525],
                {}
            ).addTo(map_5dee5c5a84cb4363a5043d4faa447274);
        
    
            marker_bd44a1e934944df985baf6544abe4f54.bindTooltip(
                `<div>
                     すまいるらいふ今里<br/>　医院が併設しており24時間介護　広々とした居室を用意し入居者らしい暮らしを満喫　費用:入居費0円 月額利用料金:13.2万円　アクセス:大阪市営バス「新今里」バス停すぐ 
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_9c2eba4fc79d4d79ba9d622090c4ee3d = L.marker(
                [34.668595, 135.461044],
                {}
            ).addTo(map_5dee5c5a84cb4363a5043d4faa447274);
        
    
            marker_9c2eba4fc79d4d79ba9d622090c4ee3d.bindTooltip(
                `<div>
                     グッドタイム リビング 大阪ベイ<br/>　毎日の生活をわくわく過ごしてもらうために様々なレクリエーションを用意　最先端技術を介護に取り入れている　費用:入居時:980万円~ 月額:24.2万円~　アクセス:大阪メトロ中央線「弁天町」駅2A出口より徒歩約1分 
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_1e148d687dfd4fdf8ecbc01bd1cb212d = L.marker(
                [34.70732, 135.43768799999998],
                {}
            ).addTo(map_5dee5c5a84cb4363a5043d4faa447274);
        
    
            marker_1e148d687dfd4fdf8ecbc01bd1cb212d.bindTooltip(
                `<div>
                     リブウェル西淀川<br/>　楽しく笑って過ごせるようにスタッフが24時間体制　複数の医療機関、薬局とも連携　費用:入居費:0円 月額:10.5万円　アクセス:阪神なんば線出来島駅から0.1km 
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_81bd0716214843219601a47f99535178 = L.marker(
                [34.596687, 135.50188300000002],
                {}
            ).addTo(map_5dee5c5a84cb4363a5043d4faa447274);
        
    
            marker_81bd0716214843219601a47f99535178.bindTooltip(
                `<div>
                     クリニック畑森 高齢者住宅 コスモメイト<br/>　居室の出入り口は幅広い引き戸なので車イスでもスムーズに出入りできる　入居者の状況を毎日把握しているため細かいケアができる　費用:入居時:10万円 月額:15.9万円　アクセス:JR杉本町駅から徒歩5分 
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_caaf3277781c429fa7276faad12e02bd = L.marker(
                [34.741585, 135.50930300000002],
                {}
            ).addTo(map_5dee5c5a84cb4363a5043d4faa447274);
        
    
            marker_caaf3277781c429fa7276faad12e02bd.bindTooltip(
                `<div>
                     住宅型有料老人ホーム ハーモニー<br/>　居室は完全個室となっておりプライベートな時間を大切に　母体のクリニックと協力し健康面をサポート　費用:入居時:0円　月額:12.4万円　アクセス:阪急 淡路駅から徒歩9分 
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_7d96bf3d2b6b4685a6e7c00d6870b5b8 = L.marker(
                [34.620965999999996, 135.532245],
                {}
            ).addTo(map_5dee5c5a84cb4363a5043d4faa447274);
        
    
            marker_7d96bf3d2b6b4685a6e7c00d6870b5b8.bindTooltip(
                `<div>
                     サービス付き高齢者向け住宅 ライフェル駒川<br/>　お風呂やキッチンなどの設備は全居室に用意　ご夫婦でご一緒に入居できる　費用:入居時:0円　月額:14.4万円　アクセス:近鉄今川駅から徒歩11分 
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_9a1c2993b41b4231b357e3d2a411d860 = L.marker(
                [34.668128, 135.543199],
                {}
            ).addTo(map_5dee5c5a84cb4363a5043d4faa447274);
        
    
            marker_9a1c2993b41b4231b357e3d2a411d860.bindTooltip(
                `<div>
                     グラート大今里<br/>　人員配置基準を上回るスタッフを配置し手厚く安心できるケアを実施　入居者個々のニーズを重視しきめ細かなケアを実施　費用:入居時:880~1830万　月額:約28万円　アクセス:地下鉄千日前線・今里線今里駅4番出口より徒歩1分 
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_dba789e291744e9a89a2b90a374122b4 = L.marker(
                [34.645517, 135.484119],
                {}
            ).addTo(map_5dee5c5a84cb4363a5043d4faa447274);
        
    
            marker_dba789e291744e9a89a2b90a374122b4.bindTooltip(
                `<div>
                     グループホームのどか津守<br/>　安全設計を施し、オールバリアフリー、手すりにより安全な暮らしを　デイケア・ホームヘルパーなどを派遣するケアプランセンターがあるので介護度の高いほうも安心　費用:入居時:20.4万円　月額:13.4万円　アクセス:南海汐見橋線津守駅徒歩３分 
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_43291aeb4d0f416f86d8e027e41d76c3 = L.marker(
                [34.700528000000006, 135.439324],
                {}
            ).addTo(map_5dee5c5a84cb4363a5043d4faa447274);
        
    
            marker_43291aeb4d0f416f86d8e027e41d76c3.bindTooltip(
                `<div>
                     住宅型有料老人ホーム クローバー<br/>　短期間の利用も可能　看護師と介護士が24時間体制で常駐しているから安心　費用:入居時0えん　月額:19.3万円　アクセス:阪神なんば線 福駅から0.3km 
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_bc3beb6d497948ef9dfa73a9ddcff6e3 = L.marker(
                [34.695753, 135.44244799999998],
                {}
            ).addTo(map_5dee5c5a84cb4363a5043d4faa447274);
        
    
            marker_bc3beb6d497948ef9dfa73a9ddcff6e3.bindTooltip(
                `<div>
                     リバーサイドふよう<br/>　全100室すべての個室を完備しプライベートに配慮　ご家族との時間を大切にして過ごせるように自主性を大切にしたケアを提供　費用:入居時:8.5~14.1万円　月額:12.7~15.5万円　アクセス:阪神福島駅から徒歩9分 
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_fdffea7595dc4025b517046cc2ed8b32 = L.marker(
                [34.652165000000004, 135.538548],
                {}
            ).addTo(map_5dee5c5a84cb4363a5043d4faa447274);
        
    
            marker_fdffea7595dc4025b517046cc2ed8b32.bindTooltip(
                `<div>
                     住宅型有料老人ホーム ファイン舎利寺<br/>　専門スタッフによる適切なリハビリの提供　安心、快適な暮らしのご提供　費用:入居時:入居一時金70万+保証金20万　月額17.9万円　アクセス:バス停「大池橋」下車後徒歩5分 
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_5fb2a05a27df4fd89c1536f427e6dab8 = L.marker(
                [34.688213, 135.45136499999998],
                {}
            ).addTo(map_5dee5c5a84cb4363a5043d4faa447274);
        
    
            marker_5fb2a05a27df4fd89c1536f427e6dab8.bindTooltip(
                `<div>
                     有料老人ホーム 柴胡苑<br/>　地域密着の地域医療・介護体制　安心安全を守る緊急システム　費用:入居: 0 円 月額:14.2 万円　アクセス:阪神なんば線「伝法」駅を出て右折 徒歩1分 
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_4b05523edbe440d899aebf2409f7fc1b = L.marker(
                [34.69256, 135.540285],
                {}
            ).addTo(map_5dee5c5a84cb4363a5043d4faa447274);
        
    
            marker_4b05523edbe440d899aebf2409f7fc1b.bindTooltip(
                `<div>
                     エスペラル城東<br/>　手厚い人員配置や24時間看護の充実　リハビリも充実しており、クリニックも隣接しているためすぐに対応　費用:入居費:25.8万円　月額:21万円　アクセス:鴫野駅から徒歩9分 
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_eda42cdb98d24607a8e5a0fd9ad1436b = L.marker(
                [34.689263000000004, 135.54438000000002],
                {}
            ).addTo(map_5dee5c5a84cb4363a5043d4faa447274);
        
    
            marker_eda42cdb98d24607a8e5a0fd9ad1436b.bindTooltip(
                `<div>
                     Welllife城東鴫野<br/>　365日24時間介護有資格者が常駐　訪問診療、訪問看護など医療サービスもご利用可能　費用:入居時:15万円　月額:7.4万円　アクセス:ＪＲ片町線 鴫野駅 徒歩5分 
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_8d0d984a7ef148fd9ca1ec93ffb0c55e = L.marker(
                [34.62287, 135.54172],
                {}
            ).addTo(map_5dee5c5a84cb4363a5043d4faa447274);
        
    
            marker_8d0d984a7ef148fd9ca1ec93ffb0c55e.bindTooltip(
                `<div>
                     グループホーム アムール平野<br/>　クリニック併設で安心の生活をサポート　我が家のような安らぎと家族のような親しみと思えるような施設　費用:入居時:一時金0円　月額:12.3万円　　アクセス:大阪メトロ 谷町線　平野駅または駒川中野駅から徒歩10分 
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_2964e485957545999453dda6a0290cb8 = L.marker(
                [34.616391, 135.534098],
                {}
            ).addTo(map_5dee5c5a84cb4363a5043d4faa447274);
        
    
            marker_2964e485957545999453dda6a0290cb8.bindTooltip(
                `<div>
                     なでしこハートフルリビング<br/>　ご利用者様同士の触れ合いやスタッフ・地域の方との会話を通じて新しい楽しみや生きがいを見つけれる　介護付き住宅ですので、手厚い介護体制でお出迎え　費用:入居時:0円　月額:12.8~14.8万円　アクセス:針中野駅から徒歩3分 
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_df4ba126f259431fa44f47d18221fdc8 = L.marker(
                [34.626022, 135.487978],
                {}
            ).addTo(map_5dee5c5a84cb4363a5043d4faa447274);
        
    
            marker_df4ba126f259431fa44f47d18221fdc8.bindTooltip(
                `<div>
                     住宅型有料老人ホーム 楽悠舎<br/>　生活に制限はなくご家族やお仲間との時間をはぐくみ今まで以上の有意義な時間を使える　24時間365日介護職員が常駐しているので夜間も安心　費用:入居時:0円　月額10万円　アクセス:大阪市営地下鉄四つ橋線玉出駅から徒歩6分 
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_45fd89aed4f14224982e26c86653ab52 = L.marker(
                [34.641647999999996, 135.484553],
                {}
            ).addTo(map_5dee5c5a84cb4363a5043d4faa447274);
        
    
            marker_45fd89aed4f14224982e26c86653ab52.bindTooltip(
                `<div>
                     住宅型有料老人ホーム coco-nari<br/>　グループ内の事業所と連携！在宅サービスから入所まで幅広く手掛けている　医療依存度の高い方も積極的に受け入れ、退院後の住まいとしても利用可　費用:入居時:10万円　月額:9.9~11.4万円　アクセス:西天下茶屋駅から徒歩9分 
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_d21e35435b334f0182e95a698189a04a = L.marker(
                [34.634539000000004, 135.461368],
                {}
            ).addTo(map_5dee5c5a84cb4363a5043d4faa447274);
        
    
            marker_d21e35435b334f0182e95a698189a04a.bindTooltip(
                `<div>
                     グループホーム南風<br/>　食事はお一人おひとりのご入居者様の状態に合わせて！口内ケアにも気を配っている　母体の病院がすぐそばに、最後までサポートできる体制　費用:入居時:10万円　月額:11.1万円　アクセス:津守駅から車で14分 
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_67bcd52479874a6d9b0daea78a603f16 = L.marker(
                [34.655374, 135.537722],
                {}
            ).addTo(map_5dee5c5a84cb4363a5043d4faa447274);
        
    
            marker_67bcd52479874a6d9b0daea78a603f16.bindTooltip(
                `<div>
                     ガーデンハウス勝山<br/>　全６タイプの居室の中から予算やライフスタイルに合わせて最適なお部屋を選べる　共有スペースとして、リビングやバルコニー、ガーデンテラスをご用意　費用:入居時:0円　月額:10~15.2万円　アクセス:桃谷駅から徒歩15分 
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_c2c47bc03634450b9b04b6ff63ca19e9 = L.marker(
                [34.663340000000005, 135.57453999999998],
                {}
            ).addTo(map_5dee5c5a84cb4363a5043d4faa447274);
        
    
            marker_c2c47bc03634450b9b04b6ff63ca19e9.bindTooltip(
                `<div>
                     ハリ・レジデンス池田<br/>　都市型リゾートホテルのような快適さと「免震構造」で安心　隣接しているカルチャーライフを日常のものに　費用:入居時:約100万円　月額:約22万円　アクセス:近鉄「河内永和」駅から徒歩2分 
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_7b7bc4b7a85d4526bff00aebba28e822 = L.marker(
                [34.664265, 135.608203],
                {}
            ).addTo(map_5dee5c5a84cb4363a5043d4faa447274);
        
    
            marker_7b7bc4b7a85d4526bff00aebba28e822.bindTooltip(
                `<div>
                     リハヴィレッジ若江岩田<br/>　薬局でいただいた薬を専用のBOXで管理し服用直前に本人に渡しする　毎日決まった時間に体温と血圧を測定し記録する必要に応じて再検査し主治医に連絡を仰ぐ　費用:入居時:14万円　月額:11.6万~11.9万円　アクセス:荒元駅から車で8分 
                 </div>`,
                {"sticky": true}
            );
        
    
            var tile_layer_5df531f020784068b5f41f2cb516833e = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_5dee5c5a84cb4363a5043d4faa447274);
        
    
            var tile_layer_8e20b72a4eca4f9c990b417b9ca2dedb = L.tileLayer(
                "https://stamen-tiles-{s}.a.ssl.fastly.net/terrain/{z}/{x}/{y}.jpg",
                {"attribution": "Map tiles by \u003ca href=\"http://stamen.com\"\u003eStamen Design\u003c/a\u003e, under \u003ca href=\"http://creativecommons.org/licenses/by/3.0\"\u003eCC BY 3.0\u003c/a\u003e. Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://creativecommons.org/licenses/by-sa/3.0\"\u003eCC BY SA\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_5dee5c5a84cb4363a5043d4faa447274);
        
    
            var tile_layer_239a40a4abcd444aa95948ffa320e4cb = L.tileLayer(
                "https://stamen-tiles-{s}.a.ssl.fastly.net/toner/{z}/{x}/{y}.png",
                {"attribution": "Map tiles by \u003ca href=\"http://stamen.com\"\u003eStamen Design\u003c/a\u003e, under \u003ca href=\"http://creativecommons.org/licenses/by/3.0\"\u003eCC BY 3.0\u003c/a\u003e. Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_5dee5c5a84cb4363a5043d4faa447274);
        
    
            var layer_control_beaba27e3fa749f29ae052cb89a5e09a = {
                base_layers : {
                    "openstreetmap" : tile_layer_5df531f020784068b5f41f2cb516833e,
                    "stamenterrain" : tile_layer_8e20b72a4eca4f9c990b417b9ca2dedb,
                    "stamentoner" : tile_layer_239a40a4abcd444aa95948ffa320e4cb,
                },
                overlays :  {
                },
            };
            L.control.layers(
                layer_control_beaba27e3fa749f29ae052cb89a5e09a.base_layers,
                layer_control_beaba27e3fa749f29ae052cb89a5e09a.overlays,
                {"autoZIndex": true, "collapsed": true, "position": "topright"}
            ).addTo(map_5dee5c5a84cb4363a5043d4faa447274);
            tile_layer_8e20b72a4eca4f9c990b417b9ca2dedb.remove();
            tile_layer_239a40a4abcd444aa95948ffa320e4cb.remove();
        
</script>