{% extends 'base.html' %}
{% load i18n %}
{% load bootstrap4 %}
{% load static %}
{% block content %}

    <body>
    <form method="post">{% csrf_token %}
        <fieldset class="module aligned">
            <div class="form-row field-email">
                {{ form.email.errors }}
                <label for="id_email">{% translate 'Email address:' %}</label>
                {{ form.email }}
            </div>
            <input type="submit" value="{% translate 'Reset my password' %}">
        </fieldset>
    </form>

    </body>


{% endblock content %}