{% extends "base.html" %}
{% load static %}
{% block content %}

    <body>
    <form action="/search" method="post">
        {% csrf_token %}

        <div>
            <label for="name">名称</label>
            <textarea id="name" name="name">{{ name }}</textarea>
        </div>
        <div>
            <label for="address">所在地</label>
            <textarea id="address" name="address">{{ address }}</textarea>
        </div>
        <div>
            <label for="lat">緯度</label>
            <input type="text" id="lat" name="lat" value="{{ lat }}">
        </div>
        <div>
            <label for="lon">経度</label>
            <input type="text" id="lon" name="lon" value="{{ lon }}">
        </div>

        <input type="submit" value="送信する">
    </form>
    </body>

{% endblock content %}