{% extends "base.html" %}
{% load static %}
{% block content %}

    <body>

    <div class="row">


        <div class="col-md-12 header">

            <div id="container">
                <div>
                    <form>
                        <input type="submit" value="" class="home_btn">
                    </form>
                </div>

                <div>
                    <form>
                        <input type="submit" value="" class="zoom_btn">
                    </form>
                </div>
                <div>
                    <form>
                        <input type="submit" value="" class="search_btn">
                    </form>
                </div>
                <div>
                    <form>
                        <input type="submit" value="" class="edit_btn">
                    </form>
                </div>
                <div>
                    <form>
                        <input type="submit" value="" class="comment_btn">
                    </form>
                </div>
                <div>
                    <form>
                        <input type="submit" value="" class="fav_btn">
                    </form>
                </div>
                <div>
                    <div align="center" class="user">ユーザー</div>
                </div>
                <div>
                    <form>
                        <input type="submit" value="" class="account_btn">
                    </form>
                </div>
            </div>
        </div>


    </div>

    <div class="container-fluid">


        <div class="row">


            <div class="col-md-12 news">

                ここに新着ニュースが表示される


            </div>


        </div>


        <div class="row">


            <div class="col-md-8">


                <iframe id="inlineFrameExample"
                        title="Inline Frame Example"
                        width=100%
                        height=100%

                        src="https://lisp-trpg.ddo.jp/trpg/onj/upload/upl/OpnyVGeDAFqDcYii8eYh/blood_donation.html">
                </iframe>


            </div>

            <div class="col-md-4">地点情報

                <form action="/search" method="post">

                    {% csrf_token %}

                    <div>
                        <label for="name">名称</label>
                        <textarea id="name" name="name">{{ name }}</textarea>
                    </div>
                    <div>
                        <label for="address">住所</label>
                        <textarea id="address" name="address">{{ address }}</textarea>
                    </div>




                    <input type="submit" value="送信する">


                </form>


            </div>


        </div>

        <div class="row">

            <div class="col-md-12 gap">
                {##}ギャップ

            </div>

        </div>

    </div>


    <div class="row">

        <div class="col-md-12 footer">

            {% for key, value in my_data.items %}
                <ul>
                    <li>アイコン{{ key }} - {{ value }}</li>
                </ul>
            {% endfor %}


        </div>

    </div>


    </body>

{% endblock content %}